#gridContainer {
position:absolute;
left:400px;
z-index:200;
display:none;
border: 1px solid #444;
width:550px;
height:550px;
background:url(../images/grid/opacityblack.png);
padding:0px 10px 10px 10px;
}

#gridContent {
position:relative;
width:100%;
height:160px;
border: 1px solid #444;
clear:both;
}

#gridHandle {
position:relative;
background:none;
width:100%;
height:25px;
padding:5px 0px 0px 0px;
}

#closeGrid{
position:relative;
width:22px;
height:22px;
margin:0px 0px 0px 5px;
float: right;
cursor:pointer;
background:url(../images/grid/grid-close.png) no-repeat center center;
}

#gridTitle{
position:relative;
width:300px;
height:22px;
font:bold 11px Arial, Helvetica, sans-serif;
color:#fff;
float:left;
padding:5px 0px 0px 20px;
background:url(../images/grid/table.png) no-repeat 0px 2px;
}

.dojoxGrid {position: relative; background-color: #ccccca; font-family: Arial, Helvetica, sans-serif; -moz-outline-style: none; outline: none; overflow: hidden; height: 0;}
.dojoxGrid table {padding: 0;}
.dojoxGrid td {-moz-outline: none; font-size: 9px !important;}
.dojoxGridMasterHeader {position: relative;}
.dojoxGridMasterView {position: relative;}
.dojoxGridMasterMessages {position: relative; padding: 1em; text-align: center; background-color: white;}
.dojoxGridView {position: absolute; overflow: hidden;}
.dojoxGridHeader {position: absolute; overflow: hidden; cursor: default;}
.dojoxGridHeader {background-color: #ccccca;}
.dojoxGridHeader table {text-align: center;}
.dojoxGridHeader .dojoxGridCell {border: 1px solid; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; background: url(../images/grid/grid_dx_gradient.gif) #ccccca top repeat-x; padding-bottom: 2px;}
.dojoxGridHeader .dojoxGridCell {border: 1px solid; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; background: none #ccccca top repeat-x; padding-bottom: 2px;}
.dojoxGridHeader .dojoxGridCellOver {background-image: none; background-color: white; border-bottom-color: #FEBE47; margin-bottom: 0; padding-bottom: 0; border-bottom-width: 3px;}
.dojoxGridHeader .dojoxGridCellFocus {border: 1px dashed blue;}
.dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {background-image: none; background-color: white; border-bottom-color: #FEBE47; margin-bottom: 0; padding-bottom: 0; border-bottom-width: 3px;}
.dojoxGridArrowButtonNode {display: none; padding-left: 16px;}
.dojoxGridArrowButtonChar {display:inline;} 
.dojoxGridArrowButtonNode:hover {cursor: default;}
.dojoxGridArrowButtonChar:hover {cursor: default;}
.dojoxGridSortNode { font-size:10px !important; }
.dojoxGridSortUp:hover {cursor: default;}
.dojoxGridSortDown:hover {cursor: default;}
.dijit_a11y .dojoxGridArrowButtonChar {display:inline !important;}
.dojoxGridScrollbox {position: relative; overflow: auto; background-color: white; width: 100%;}
.dojoxGridContent {position: relative; overflow: hidden; -moz-outline-style: none; outline: none;}
.dojoxGridRowbar {border: 1px solid; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; border-top: none; background: url(../images/grid/grid_dx_gradient.gif) #ccccca top repeat-x;}
.dojoxGridRowbar {border: 1px solid; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; border-top: none; background: none #ccccca top repeat-x;}
.dojoxGridRowbarInner {border-top: 1px solid #e5e5e3;}
.dojoxGridRowbarOver {background-image: none; background-color: white; border-top-color: #FEBE47; border-bottom-color: #FEBE47;}
.dojoxGridRowbarSelected {background-color: #D9E8F9;}
.dojoxGridRow {position: relative; width: 9000em;}
.dojoxGridRow {border: 1px solid #E8E4D8; border-color: #F8F7F1; border-left: none; border-right: none; background-color: white; border-top: none;}
.dojoxGridRowOver {background:#e0eefc !important;}
.dojoxGridRowOdd {background-color: #f1f1f0;}
.dojoxGridRowSelected {background-color: #D9E8F9;}
.dojoxGridRowTable {table-layout: fixed; width: 0; empty-cells: show;}
.dj_ie .dojoxGridRowTable {border-collapse: collapse;}
.dojoxGridInvisible {visibility: hidden;} 
.Xdojo-ie .dojoxGridInvisible {display: none;} 
.dojoxGridInvisible td, .dojoxGridHeader .dojoxGridInvisible td {border-top-width: 0; border-bottom-width: 0; padding-top: 0; padding-bottom: 0; height: 0; overflow: hidden;}
.dojoxGridCell {border: 1px solid; border-color: #e5e5e1; border-right-color: #ccccca; padding: 3px 3px 3px 3px; text-align: center; overflow: hidden; color:#444444 !important;}
.dojoxGridCellFocus {border: 1px dashed #FEBE47;}
.dojoxGridCellOver {border: 1px dotted #8596a6;}
.dojoxGridCellFocus.dojoxGridCellOver {border: 1px dashed green;}
.dojoxGridRowEditing td {background-color: #F4FFF4;}
.dojoxGridRow-inserting td {background-color: #F4FFF4;}
.dojoxGridRow-inflight td {background-color: #F2F7B7;}
.dojoxGridRow-error td {background-color: #F8B8B6;}
.dojoxGridInput, .dojoxGridSelect, .dojoxGridTextarea {margin: 0; padding: 0; border-style: none; width: 100%; font-size: 100%; font-family: inherit;}
.dojoxGridHiddenFocus {position: absolute; top: -1000px; height: 0; width: 0;}
.dijit_a11y .dojoxGridRowbarSelected {border-top: 1px solid white; border-bottom: 1px dashed black; border-top: 0; background: none;}
.dijit_a11y .dojoxGridRowbarSelected .dojoxGridRowbarInner {border: 0; border-top: 1px solid white;}
.dijit_a11y .dojoxGridRowSelected {border: 1px solid black !important;}
.dojoxGridDndAvatar {font-size: 100%;}
.dojoxGrid .dojoDndItemBefore {border-left-color: red;}
.dojoxGrid .dojoDndItemAfter {border-right-color: red;}
.dijit_a11y .dojoDndItemBefore {border-left: double;}
.dijit_a11y .dojoDndItemAfter {border-right: double;}
.dojoxGridDndAvatarItem td {border: 1px solid; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; background: url(../images/grid/grid_dx_gradient.gif) #ccccca top repeat-x; padding: 0pt; margin: 0pt;}
.dojoxGridDndAvatarItem td.dojoxGridDndAvatarItemImage {border: 0; border-color: #e5e5e3 #b3b3b1 #b3b3b1 #e5e5e3; background-color: transparent; padding: 3px; padding-bottom: 2px; margin: 0;}
.dojoDndMove .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {background-image: url(../images/grid/dndNoMove.png); background-repeat: no-repeat; background-position: center center;}
.dojoDndCopy .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {background-image: url(../images/grid/dndNoCopy.png); background-repeat: no-repeat; background-position: center center;}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {background-image: url(../images/grid/dndMove.png); background-repeat: no-repeat; background-position: center center;}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {background-image: url(../images/grid/dndCopy.png); background-repeat: no-repeat; background-position: center center;}
.dojoxGridColPlaceBottom {background: transparent url(../images/grid/grid_sort_up.gif) no-repeat scroll left top;}
.dojoxGridColPlaceTop {background: transparent url(../images/grid/grid_sort_down.gif) no-repeat scroll left top;}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {font-size:1px; height:6px; z-index:10000; top:0; overflow:hidden; position:absolute; line-height:1px; width:8px;}
.dojoxGridResizeColLine {width: 1px; background-color: #777; position: absolute; cursor: col-resize; z-index:10000;}
.dojoxGridColNoResize, .dojoxGridColNoResize .dojoDndItemOver {cursor: not-allowed !important;}
.dojoxGridColResize, .dojoxGridColResize .dojoDndItemOver,.dojoxGridColumnResizing,.dojoxGridColumnResizing .dojoDndItemOver,.dojoxGridColumnResizing .dojoxGridHeader {cursor: col-resize !important;}
.dojoxGridColPlaceBottom {background: transparent url(../images/grid/grid_sort_up.gif) no-repeat scroll left top;}
.dojoxGridColPlaceTop {background: transparent url(../images/grid/grid_sort_down.gif) no-repeat scroll left top;}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {font-size:1px; height:6px; z-index:10000; top:0; overflow:hidden; position:absolute; line-height:1px; width:8px;}
.dojoxGridResizeColLine {width: 1px; background-color: #777; position: absolute;}
.dojoxGridExpandoCell {vertical-align: top;}
.dojoxGridSummarySpan {visibility: hidden;}
.dojoxGridSummaryRow .dojoxGridSummarySpan,.dojoxGridRowCollapsed .dojoxGridSummarySpan {visibility: visible;}
.dojoxGridNoChildren .dojoxGridExpando {visibility: hidden !important; width: 0px !important;}